

html{
  font-size: 0.5em;
  
  
}

.content{
  font-size:calc(0.5rem + 1vw) ;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 2em;
  color: black;
}


.register-form input{
  border-left: 0px;
  border-bottom: 3px solid rgb(53, 69, 214);
  border-right: 0px;
  border-top: 0px;
  font-size:large;

  color: rgb(33, 23, 172)

}
.register-form{
  color:rgb(161, 41, 216);
}

.input{
  color: black;
}

.register-form input{
  color:black;
}


